<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="app/code/Example/Storefront/Test/Unit/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Storefront Unit Tests">
            <directory>app/code/Example/Storefront/Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
