<?xml version="1.0"?>
<!--
/**
 * Copyright © Example Co. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Example\Storefront\Api\GreeterInterface"
                type="Example\Storefront\Model\Greeter"/>
    <preference for="Example\Storefront\Api\StockUrgencyMessageInterface"
                type="Example\Storefront\Model\StockUrgencyMessage"/>
    <type name="Example\Storefront\Model\StockUrgencyMessage">
        <arguments>
            <argument name="lowStockThreshold" xsi:type="number">5</argument>
        </arguments>
    </type>
</config>
