<?xml version="1.0"?>
<!--
/**
 * Copyright © Example Co. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Example\Storefront\Api\GreeterInterface"
                type="Example\Storefront\Model\Greeter"/>
    <preference for="Example\Storefront\Api\GiftMessageInterface"
                type="Example\Storefront\Model\GiftMessage"/>
</config>
